$somewhat-gray: #BAD9D9;

.App{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $somewhat-gray;
}